@font-face {
    font-family: "ArticulatCF";
    src: url("../../../src/assets/Articulat.CF-V3/ArticulatCF-Medium.otf");
}

@font-face {
    font-family: "ArticulatCF";
    src: url("../../../src/assets/Articulat.CF-V3/ArticulatCF-Bold.otf");
    font-weight: 700;
}

$font-default: "ArticulatCF", sans-serif;
