<div [routerLink]="['/blog', blog.id]" class="blog-preview__container">
  <div class="blog-preview__title">{{ blog.title }}</div>
  <div class="blog-preview__author">{{ blog.author }}</div>
  <div markdown katex class="blog-preview__content">{{ blog.content }}</div>
  <div class="blog-preview__tags"></div>
</div>

