.blog-preview__container {
  width: 60%;
  max-height: 10rem;
  mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
  margin: auto;
  cursor: pointer;

  .blog-preview__title {
    font-size: 1rem;
  }

  .blog-preview__author {

  }

  .blog-preview__content {

  }
}
