<div class="blog-list__search-box__container">
  <h1 class="blog-list__search-box__title">Filter blog list</h1>
  <div class="blog-list__search-box">
    <div class="blog-list__search-box__criterium">
      <label class="blog-list__search-box__criterium-label" for="author">Author</label>
      <input
        #searchAuthor
        (keyup)="keyUp$.next(searchAuthor.value)"
        class="blog-list__search-box__criterium-input"
        type="text"
      />
    </div>
    <div class="blog-list__search-box__criterium">
      <label class="blog-list__search-box__criterium-label" for="text">Text</label>
      <input
        #searchText
        (keyup)="keyUp$.next(searchText.value)"
        class="blog-list__search-box__criterium-input"
        type="text"
      />
    </div>
  </div>
</div>
<div *ngIf="blogList$ | async as blogList" class="blog-list__container">
  <app-blog-preview *ngFor="let blog of blogList" [blog]="blog"></app-blog-preview>
</div>

