<div *ngIf="blog$ | async as blog" class="blog-detail__container">
  <div class="blog-detail__title">{{ blog.title }}</div>
  <div class="blog-detail__author">{{ blog.author }}</div>
  <div markdown katex ngPreserveWhitespaces class="blog-detail__content">{{ blog.content }}</div>
  <div class="blog-detail__date">{{ blog.date }}</div>
  <button [routerLink]="['edit']" class="blog-detail__edit">edit</button>
  <button (click)="onClickDelete()" class="blog-detail__delete">delete</button>
</div>

