<div *ngIf="enteringUrl" (click)="onClickLinkCancel()" class="backdrop"></div>
<div *ngIf="enteringUrl" class="blog-edit__link-modal">
  <h1>Enter link</h1>
  <div class="blog-edit__link-modal__url">
    <label class="blog-edit__link-modal__label" for="url">Url</label>
    <input #linkUrl class="blog-edit__link-modal__input" type="text" />
  </div>
  <div class="blog-edit__link-modal__text">
    <label class="blog-edit__link-modal__label" for="text">Text</label>
    <input #linkText class="blog-edit__link-modal__input" type="url" />
  </div>
  <button (click)="onClickLinkCancel()" class="blog-edit__link-modal__button-cancel" type="button">Cancel</button>
  <button (click)="onClickLinkSave()" class="blog-edit__link-modal__button-save" type="button">Save</button>
</div>
<div class="blog-edit__container">
  <form [formGroup]="blogForm" (ngSubmit)="onSubmit()">
    <div class="form-group edit-form__author">
      <label for="author">Author</label>
      <input [readonly]="editMode" formControlName="author" class="form-control" type="text" />
    </div>
    <div class="form-group edit-form__title">
      <label for="title">Title</label>
      <input formControlName="title" class="form-control" type="text" />
    </div>
    <div *ngIf="editMode" class="form-group edit-form__date">
      <label for="date">Date</label>
      <input readonly="readonly" formControlName="date" class="form-control" type="text" />
    </div>
    <div class="form-group edit-form__content">
      <label for="content">Content</label>
      <div class="edit-form__content__container">
        <div class="blog-edit__content__button-bar">
          <button (click)="onClickBold()" class="blog-edit__content__markdown-icon" type="button">B</button>
          <button (click)="onClickItalic()" class="blog-edit__content__markdown-icon" type="button">I</button>
          <button (click)="onClickHeader()" class="blog-edit__content__markdown-icon" type="button">H</button>
          <img
            (click)="onClickInlineCode()"
            class="blog-edit__content__markdown-icon"
            src="../../../assets/inline_code.png"
          />
          <button (click)="onClickCodeBlock()" class="blog-edit__content__markdown-icon" type="button">[<|>]</button>
          <img
            (click)="onClickLinkOpen()"
            class="blog-edit__content__markdown-icon"
            src="../../../assets/insert_link.png"
          />
          <img
            (click)="onClickOrderedList()"
            class="blog-edit__content__markdown-icon"
            src="../../../assets/numbered_list.png"
          />
          <img
            (click)="onClickUnorderedList()"
            class="blog-edit__content__markdown-icon"
            src="../../../assets/bulleted_list.png"
          />
          <img
            (click)="onClickQuote()"
            class="blog-edit__content__markdown-icon"
            src="../../../assets/insert_quote.png"
          />
        </div>
        <textarea
          (keyup)="onKeyEnter($event)"
          #content
          formControlName="content"
          class="form-control"
          rows="20"
        ></textarea>
      </div>
    </div>
    <div class="blog-edit__form__button-bar">
      <button [routerLink]="['..']" type="button" class="blog-edit__form-action">Cancel</button>
      <button type="submit" class="blog-edit__form-action">Submit</button>
    </div>
  </form>
  <div class="blog-edit__preview form-group">
    <label for="preview">Preview</label>
    <markdown katex ngPreserveWhitespaces [data]="content.value"></markdown>
  </div>
</div>

