.backdrop {
  width:100%;
  height:100%;
  position:fixed;
  left:0;
  top:0;
  background: rgba(0,0,0,0.6);
}
.blog-edit__link-modal {
  background: #ccc;
  border: 1px solid grey;
  position:absolute;
  margin: auto;
  top:30%;
  left:10%;
  right:100%;
  width: 80%;
  z-index:100;

  .blog-edit__link-modal__input {
    width: 75%;
  }
  .blog-edit__link-modal__label {
    display: inline-block;
    width: 15%;
    padding: 1rem;
  }
}

.blog-edit__container {
  width: 80%;
  display: flex;
  flex-direction:column;

  .form-group {
    width: 100%;
    label {
      display:inline-block;
      width: 3rem;
      margin: 1rem;
    }

    input {
      width: calc(100% - 7rem);
      margin: 1rem;
    }
  }


  .edit-form__content {

    label{
      vertical-align:top;
      margin-top: 3.2rem;
    }

    .edit-form__content__container {
      display:inline-block;
      width: calc(100% - 7rem);
      margin: 1rem;

      textarea {
        width: 100%;
      }

      .blog-edit__content__button-bar {
        text-align:end;

        .blog-edit__content__markdown-icon {
          margin: 0.15rem;
        }
        img{
          height: 1.7rem;
          border-radius:0.2rem;
          vertical-align: bottom;
          &:hover {
            transform: scale(1.12);
          }
        }
      }
    }
  }

  .blog-edit__form__button-bar{
    text-align:end;
    margin-right: 0.5rem;

    .blog-edit__form-action {
      margin-right: 0.5rem;
    }
  }

  .blog-edit__preview {
    label {
      vertical-align: top;
    }

    markdown {
      display:inline-block;
      width: calc(100% - 7rem);
      border: 1px solid #ccc;
      padding-left: 1rem;
      margin: 1rem;
      min-height: 20rem;
      // overflow:scroll;
    }
  }
}
